body{
    background-color:lightskyblue;
}

h1{
    font-family:Impact;
}

.input-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#input-legend{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-fieldset{
    border: 2px solid white;
    border-radius: 13px;
}

select{
    color:#000000;
    font-weight: bold;
    background-color: lightskyblue;
    border-radius: 4px;
    border: 2px solid white;
}
option{
    color:#000000;
    font-weight: bold;
    background-color: lightskyblue;
}

input{
    color:#000000;
    font-weight: bold;
    background-color: lightskyblue;
    border-style: none;
    border: 2px solid white;
    outline : none;
    border-radius: 4px;
    text-align: right;
    padding-right: 5px;
    
    
}

.output-fieldset{
    border: none;
    border-radius: 13px;
}

.output-legend{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14px;
}

.output{
    text-align: right;
}

#operator_selector{
    width:100%;
    text-align: right;
    padding-right: 10px;
}
