
h1 {
    font-size: 28px;
}

.input-title, select, .dash, option, .user-input, #operator_selector, #bits_count,.output-title{
    font-size: 18px;
}

#input-legend, .output-legend{
    font-size: 20px;
}
.output{
    font-size: 16px;
}

body{
    background-color:rgb(255,255,255);
    height: auto;
}

h1{
    font-family:Impact;
}

.input-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#input-legend{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-fieldset{
    border: 1px solid rgba(50,50,50,0.1);
    border-radius: 13px;
    background-color: rgba(210,210,210,0.2);
}

td{
    padding-top: 2px;
    padding-inline-start: 10px;
}

select{
    color:#000000;
    font-weight: bold;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    border: 2px solid white;
}

option{
    color:#000000;
    font-weight: bold;
    background-color: rgba(255,255,255,0.4);
}

.user-input{
    font-weight: bold;
    background-color: rgba(255,255,255,0.1);
    border-style: none;
    border: 2px solid white;
    outline : none;
    border-radius: 4px;
    text-align: right;
    width: 100%;
}

.output-fieldset{
    border:none;
    border-radius: 10px;
}

.output-legend{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.output{
    text-align: right;
}

.output-val{
    font-weight: bold;
}

#output-div{
    margin-top: 20px;
    border-radius: 10px;
}
